################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/ChangeCalulator/.vs/ChangeCalulator.slnx/v18/.suo
/ChangeCalulator/.vs/ChangeCalulator.slnx/v18/DocumentLayout.json
/ChangeCalulator/ChangeCalulator/obj
/ChangeCalulator/obj
/ChangeCalulator/.vs/ChangeCalulator.slnx/v18/DocumentLayout.backup.json
/ChangeCalulator/.vs/ChangeCalulator.slnx/DesignTimeBuild/.dtbcache.v2
/ChangeCalulator/ChangeCalulator/bin/Debug/net10.0
/.vs/ChangeCalculator.slnx/v18/.suo
/.vs/ChangeCalculator.slnx/v18
/.vs
/ChangeCalculator/bin/Debug/net10.0
/ChangeCalculator/obj/Debug/net10.0/ref
/ChangeCalculator/obj
/ChangeCalculator.Tests/bin/Debug/net10.0
/ChangeCalculator.Tests/obj
/obj
/packages
