################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/ChangeCalulator/.vs/ChangeCalulator.slnx/v18/.suo
/ChangeCalulator/.vs/ChangeCalulator.slnx/v18/DocumentLayout.json
/ChangeCalulator/ChangeCalulator/obj
/ChangeCalulator/obj
/ChangeCalulator/.vs/ChangeCalulator.slnx/v18/DocumentLayout.backup.json
